/* CSS Document */
/* Global document styles*/

body {
	background-color:#E1EAEC !important;	
}
.btn {
	margin-bottom: 1em!important;
	text-transform:uppercase;
	margin-top:.5em;
}
.btn-info {
	background-color: #1C76BC!important;
	border-color: #29A7DF !important;
}
.clear {
    clear: both;
}

.corner-left {
	border-top-left-radius: 10px;
}

.corner-right {
	border-bottom-right-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	appearance:none;
    -webkit-appearance: none!important;
	-moz-appearance:none!important;
    margin: 0;
}
p {
	font-weight:300;	
}
.center-panel {
    float: none!important;
	margin:auto!important;
	margin-bottom:.5em!important;
  }
.modal-footer {
	padding: .5em .5em 0!important;
}
h3 {
color: #FFF;
font-size: 1.7em;
text-align:left;
}
.help-block.panel {
	margin-top:0;
	margin-left:1em;	
}

.search-result-text {
	padding: 5px 15px;	
}
/* push-menu custom styles */
.mobile-menu {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.buttonset {
	height:4em;
	line-height:1em;	
	background: #FFF;
	border-bottom:1px solid #CCC;
}
.cbp-spmenu h3 {
	color: #E1EAEC !important;
	padding:15px !important;
	font-size:1.7em !important;
}
.cbp-spmenu-push-toright {
	position:fixed!important;
	width:100%;
}
.cbp-spmenu {
	background:#26A9E0;
	overflow:scroll;
}
.cbp-spmenu ul {
	padding:0;	
}
.cbp-spmenu ul li{
	list-style:none;
}
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #1B75BB;
	border-top: 1px solid #6FB6E0;
}
.cbp-spmenu .close {
	position: absolute;
	top: 0px;
	right: .5em;
	font-size: 2em;
	padding: 0;
	height: 2em;
	width: 1em;
	text-align: center;
	line-height: 1.7em;
	opacity:0.8;
	font-weight:normal;
	border-top:none;
	border-bottom:none;
}
span.icon-menu {
	font-size: 2em;
	height: 2em;
	line-height: 1em;
	border-right: 1px solid #FFF;	
}

.logo {
	height: 3em;
	left: 3.5em;
	position: absolute;
	top: .5em;
}

/* Desktop menu styles */
.desktop-menu {
background: #FFF;
border-bottom: 1px solid #CCC;
margin-bottom: .5em;
}
.desktop-logo {
	height: 4em;
	line-height:4em;
}
.desktop-nav {
	margin:auto;
	float:none!important;
}
.nav > li > a {
	height: 4em;
	line-height: 3.8em;
	padding: 0 1em 0 1em;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color:#E1EAEC;
}
.nav-pills > li > a {
	border-radius:0px !important;
}
/* Pin Box Style */
.pin-wrapper {
	width: 100%;
	max-width: 358px;
	padding:1.5em;
	margin: auto;
	display:inline-block;
}
.pin-wrapper h6 {
	color: #FFFFFF;
	font-size: 2em;
	font-weight: 500;
	height: 1em;
	line-height: 1.25em;
	margin: 0.25em 0;
	text-align: center;
}
.pin-wrapper p {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 5%;
	text-align: center;
	color: #fff;
}
.pin-box {
	width:25%;
	height:5em;
	border:1px solid #CCC;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    inset 0px 0px 5px 1px rgba(50, 50, 50, 0.25);
	box-shadow:         inset 0px 0px 5px 1px rgba(50, 50, 50, 0.25);
}

.pin-box p {
	margin: auto;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	color: #1b75bb;
	line-height: 1.35em;
}

/* Search Bar */
.input-group-btn .btn {
	margin-top:0;	
}

/* Pin Pad Styles*/

.blbtn {
    background-color:  #1B75BB;
    background-size: 100% auto;
    color: #fff;
    float: left;
    margin-top: 2%;
    width: 32%;
    border-radius: 9px;
}

.blbtn:active, .whbtn:active, {
    opacity: .7;
}

.whbtn {
    background-color: #26a9e0;
    background-size: 100% auto;
    color: #1B75BB;
    float: left;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    width: 32%;
    border-radius: 9px;
    border: none 0;
}

/* Cross Validation Alerts */
.alert > p {
	margin-top:.5em;	
}

.cross-check-icon {
	float: right;
	margin-top: -1.8em;
	font-size: 1em;
	margin-right: .5em;
}	

/* Modal Window Styles */
.md-content.panel-heading {
	background: #1B75BB;
	border-radius: 0!important;
	border: 1px solid #1B75BB;
}
.md-content.panel-body, .md-content.modal-footer {
	background:#FFF!important;	
	color:#000000;
}

.md-modal.panel {
	overflow:scroll;
	max-height:90%;
	border: 1px solid rgba(0, 59, 107, 0.79);
	border-top-left-radius:0px!important;
	border-top-right-radius:0px!important;
}
.md-modal .panel-body {
	padding:1em!important;	
}
.fpr-view.panel {
	width: 90%;
	max-width: 1024px;
}
.md-overlay {
	background:rgba(2, 26, 45, 0.85)!important;
}
.md-effect-7 {
top: -10px!important;
}

.panel-heading .close {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 3em;
	padding: 0;
	height: 2em;
	width: 1em;
	text-align: center;
	line-height: 2em;
	color: white;
	opacity:0.8;
	font-weight:normal;
}
.panel-heading .close a:visited {
	color: white;
}

/* Bootstrap Media Overrides*/
/*** 
*  IMPORTANT - Do NOT Update Bootstrap.css without backing up the following media over-rides;
*  Notate the following changes in bootsrap.css:
*  sm line 1583 @media (min-width: 468px) {
*  md line 1741 @media (min-width: 750px) {
*  lg line 1899: @media (min-width: 1010px) {
*  line 6175: @media (min-width: 468px) and (max-width: 749px) {
*  line 6190: @media (min-width: 750px) and (max-width: 1009px) {
*  There are many other lines within the origional bootstrap that must be over-written for proper page transitions in the manner outlined above.
***/

@media (min-width:468px) {
.buttonset {
	margin-bottom:.5em;	
}
.md-modal .panel-body {
padding: 2em!important;
}
.modal-footer {
	padding: 1em 1em 0!important;
}
}
@media (max-width: 750px){
	.panel {
		float: none!important;
		margin:auto!important;
		margin-bottom:.5em!important;
	}
	.panel-body {
		padding:0!important;
	}
}