<!doctype html>
<html>
<head>
<!--
 * MedicFP LLC CONFIDENTIAL
 * Unpublished Copyright (c) 2014-2015 MedicFP LLC, All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains the property of MedicFP LLC. The intellectual and technical concepts contained
 * herein are proprietary to MedicFP LLC and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material is strictly forbidden unless prior written permission is obtained
 * from MedicFP LLC. Access to the source code contained herein is hereby forbidden to anyone except current MedicFP LLC employees, managers  
 * or contractors who have executed Confidentiality and Non-disclosure agreements explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication or disclosure  of  this source code, which includes  
 * information that is confidential and/or proprietary, and is a trade secret, of  MedicFP LLC.   ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE, 
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT  THE EXPRESS WRITTEN CONSENT OF MEDICFP IS STRICTLY PROHIBITED, AND IN VIOLATION OF APPLICABLE 
 * LAWS AND INTERNATIONAL TREATIES.  THE RECEIPT OR POSSESSION OF  THIS SOURCE CODE AND/OR RELATED INFORMATION DOES NOT CONVEY OR IMPLY ANY RIGHTS  
 * TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS, OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.                
-->
<meta charset="UTF-8">
<title>Login</title>
<link href="img/medicfp-favicon.ico" rel="icon" type="image/x-icon" />
<link href="img/medicfp-favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="css/style.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/push-menu.css" rel="stylesheet">
<link href="css/medicfp.css" rel="stylesheet">
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<!-- Modal Files -->
<link href="css/modal.css" type="text/css" rel="stylesheet">
<script src="js/modernizr.custom.js"></script>
</head>

<body class="cbp-spmenu-push">
<!-- Terms of Use Modal -->
<div class="md-modal md-effect-7 panel fpr-view" id="modal-7">
    <div class="md-content panel-heading" id="top">
    <h2>{{patientName}}'s FPR Report</h2>
    <a class="md-close pull-right close">&times;</a>
    </div>
    <div class="md-content panel-body">
		{{patientNameFPR}}
        </div>
    </div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3>Menu</h3><a id="" class="close pull-right">&times;</a>
    <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="#">Check-in Existing Patient</a></li>
    <li><a href="#">Check-in New Patient</a></li>
    <li><a href="#">Visit History</a></li>
    <li><a href="#">Settings</a></li>
	<li><a href="#">Log-out</a></li>
    </ul>
</nav>
<div class="container-fluid">

<!-- Mobile Menu Below -->
<div class="row visible-sm visible-xs">
        <section class="buttonset">
            <!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
            <a id="showLeftPush" class="row"><span class="icon-menu"></span><img src="img/medicfp-logo.png" class="logo"></a>
        </section>
</div>

<!-- Tablet Wide/Desktop Menu -->
<div class="row visible-lg visible-md desktop-menu">
<a href="index.html" class="desktop-logo pull-left"><img src="img/medicfp-logo.png"></a>
<div class="desktop-nav col-xs-6">
<ul class="nav nav-pills pull-left">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Check-in <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Check-in Existing Patient</a></li>
      <li><a href="#">Check-in New Patient</a></li>
    </ul>
  </li>
  <li><a href="#" class="">Visit History</a></li>
</ul>
</div><!-- ./desktop-nav -->
<div class="col-xs-2 pull-right">
<ul class="nav nav-pills pull-right">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      <span class="icon-user"></span>User<span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right" role="menu">
      <li><a href="#"><span class="icon-cog">Settings</a></li>
      <li><a href="#"><span class="icon-logout">Logout</a></li>
    </ul>
  </li>
</ul>
</div>
</div>
</div><!-- /.container-fluid -->

<div class="main container">
<div class="row">
<div class="panel col-xs-12 col-sm-11 col-md-8">
<div class="panel-body">
<h3>Search Visits</h3>
<form>
  <div class="form-group">
    <label for="npiSearch">Search for your patient visits by name or date of birth.</label>
    <div class="input-group">
  	<input type="search" class="form-control" id="npiSearch" placeholder="Search for your practice">
    <span class="input-group-btn">
    <button class="btn btn-default"><span class="icon-search"></span></button>
    </span>
    </div>
</div>
</form>
<h3>Visit History</h3>
<p>You can view recent check-ins here. You can sort your visits by date, patient name, or Integrity Rating&trade;.</p>
<table class="table table-condensed">
    <thead>
    	<th>First Name</th>
    	<th>Last Name</th>
    	<th>Visit Date</th>
    	<th class="hidden-xs">Visit Time</th>
    	<th>Integrity Rating&trade;</th>
    	<th>Checkin Patient</th>
    </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Snow</td>
      <td>12/25</td><!-- on desktop screens date should be mm/dd/yyyy, on mobile only date should reduce to mm/dd - no year -->
      <td class="hidden-xs">2:00pm</td>
      <td><a href="#" class="md-trigger" data-modal="modal-7" alt="Click here to view the Integrity Report">77</a></td>
      <td><button class="btn btn-default btn-xs">Check-in</button></td>
    </tr>
    <tr>
      <td>John</td>
      <td>Snow</td>
      <td>12/25</td><!-- on desktop screens date should be mm/dd/yyyy, on mobile only date should reduce to mm/dd - no year -->
      <td class="hidden-xs">2:00pm</td>
      <td><a href="#" class="md-trigger" data-modal="modal-7" alt="Click here to view the Integrity Report">77</a></td>
      <td><button class="btn btn-default btn-xs">Check-in</button></td>
    </tr>
    <tr>
      <td>John</td>
      <td>Snow</td>
      <td>12/25</td><!-- on desktop screens date should be mm/dd/yyyy, on mobile only date should reduce to mm/dd - no year -->
      <td class="hidden-xs">2:00pm</td>
      <td><a href="#" class="md-trigger" data-modal="modal-7" alt="Click here to view the Integrity Report">77</a></td>
      <td><button class="btn btn-default btn-xs">Check-in</button></td>
    </tr>
  </tbody>
</table>
</div><!-- ./panel-body-->
</div><!-- /.panel -->

<div class="panel col-xs-12 col-sm-11 col-md-3 help-block">
<div class="panel-body">
<h3>Quick Options</h3>
<p><a href="#">Check-in a new patient</a></p>
<p><a href="#">Check-in an existing patient</a></p>
</div>
</div>
</div><!-- /.row -->
</div> <!-- /.containter -->
<!-- Modal -->
<div class="md-overlay"></div>
<script src="js/modalEffects.js" type="text/javascript"></script>
<!-- Push-Menu Scripts -->
<script src="js/classie.js" type="text/javascript"></script>
<script src="js/push-menu.js" type="text/javascript"></script>
</body>
</html>
